body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
.calc {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.display-div {
  padding: 20px;
  background-color: #4caf50;
  border-radius: 10px 10px 0 0;
}
.display {
  width: 100%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  border: none;
  border-radius: 5px;
  padding-right: 10px;
}
.btns-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.btn {
  padding: 20px;
  font-size: 18px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
}
.btn:hover {
  background-color: #ddd;
}
